Flask==3.0.0
fastapi==0.116.1
uvicorn==0.35.0
torch==2.5.1
torchvision==0.20.1
diffusers==0.37.1
transformers==4.55.4
Pillow==10.1.0
google-generativeai==0.8.6
nltk==3.8.1
python-dotenv==1.0.0
Werkzeug==3.0.1
requests==2.33.0
accelerate==1.13.0
